* {
    padding: 0;
    margin: 0;
}
body {
    padding: 1vh 20vw;
    background-color: darkslategrey;
}
#contaier {
    height: 100vh;
    max-height: 95vh;
}
.well-lg {
    background-color: rgba(220, 220, 220, 0.5);
}
#calculation-display {
    height: 3vh;
}
#result-display {
    height: 8vh;
}
.btn {
    height: 6.7vh;
    margin: 1vh;
}
.btn-default {
    font-weight: 600;
}
.btn-primary {
    width: 14vw;
    max-width: 14vw;
    position: absolute;
    top: -8.5vh;
    height: 15.3vh;
}
#display {
    text-align: right;
    background-color: gainsboro;
    padding: 0 1vw;
}
#calculation-display {
    font-size: 3rem;
}
#result-display {
    font-size: 6rem;
}