* {
    padding: 0;
    margin: 0;
}
body {
    padding: 4vh 28vw 1vh 28vw;
    background-color: rgb(33, 33, 33);
}
#contaier {
    height: 100vh;
    max-height: 100vh;
}
.well-lg {
    background-color: rgba(220, 220, 220, 0.5);
}
#calculation-display {
    height: 3vh;
}
#result-display {
    height: 8vh;
}
.btn {
    height: 6.7vh;
    margin: 0.5vh 0vw;
}
.btn-default {
    font-weight: 600;
}
.btn-primary {
    width: 12.4vw;
    max-width: 12.4vw;
    position: absolute;
    top: -7.8vh;
    height: 14.7vh;
}
#display {
    text-align: right;
    background-color: gainsboro;
    padding: 0 1vw;
}
#calculation-display {
    font-size: 3rem;
}
#result-display {
    font-size: 6rem;
}